@import "../design/css-variables.module.css";

.card {
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background-color: var(--color-primary);
  color: var(--color-gray-dark-3);
  margin-bottom: var(--u-margin-hg);
}
